body {
    background-image: linear-gradient(to bottom right, rgb(0, 42, 167), rgb(153, 200, 255), rgb(0, 42, 167));
}

header {
    background-color: aliceblue;
    border: rgb(0, 29, 98) solid 3px;
    border-radius: 6px;
    margin-top: 1vw;
    height: fit-content;
}

#logo {
    width: 8vw;
    display: block;
    margin: auto;
}

nav {
    display: flex;
    background-color: rgb(103, 174, 255);
    margin-top: 2vw;
    padding: 2vw;
    border-radius: 6px;
    border: rgb(0, 29, 98) solid 3px;
    flex-direction: column;
    margin-bottom: 3vw;
}

a {
    display: flex;
    background-color: aliceblue;
    margin: auto;
    border: rgb(47, 78, 170) 2px solid;
    border-radius: 6px;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#home-page-link {
    padding-left: 33.6vw;
    padding-right: 33.6vw;
}

#contact-page-link {
    padding-left: 32.4vw;
    padding-right: 32.4vw;
}

#scheduling-page-link {
    padding-left: 30vw;
    padding-right: 30vw;
}

.container {
    background-color: rgb(103, 174, 255);
    padding: 6vw;
    border-radius: 10px;
    border: rgb(0, 29, 98) 3px solid;
}

@media (min-width: 700px) {
    nav {
        flex-direction: row;
        padding: 1vw;
    }

    #home-page-link {
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    #contact-page-link {
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    #scheduling-page-link {
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
}